<!doctype html>
{% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}" />
<html lang="en">
<head><title>{{account.name}}'s account</title>
<div>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Datepicker - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    {#<link rel="stylesheet" href="/resources/demos/style.css">#}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
    </div>
</head>
<body>
    <div class="main" align="center"> 
    <ul class="navibar">
        <li><a href= {% url 'home' %}> home </a></li>
        <li><a href= "https://a5810130.blogspot.com/">
        Blog</a><li>
        <li><a href= "https://github.com/a5810130/accounts">
        GitHub</a><li>
    </ul>
    <div class="detail">
    <h1> {{ account.name }}'s account </h1>
    {% if account.transaction_set.all %}
    <table width="100%">
        <tr>
            <th width="20%">   Date        </th>
            <th>                Description </th>
            <th width="20%">   Type        </th>
            <th width="20%">  Value(THB)  </th>
        {% if contacts.has_next %}
            </tr>
                <td>                                    </td>
                <td>            ยอดยกมา                 </td>
                <td>                                    </td>
                <td id = td01>  {{ balance_forward }}   </td>
            </tr>
        {% endif %}
        {% for list in contacts %}
        <tr>
            <td>            {{ list.date|date:"d/m/Y" }}     </td>
            <td>            {{ list.description }}              </td>
            <td><center>    {{ list.get_actionType_display }}   </center></td>
            <td id = td01
                style=" color:
                        {% if list.actionType == "I" %}
                            green
                        {% else %}
                            red
                        {%endif%};"> 
                            {{list.value}}                      </td>
        </tr>
        {% endfor %}
        <tr>
            <td>                            </td>
            <td>            คงเหลือ          </td>
            <td>                            </td>
            <td id = td01>  {{ balance }}   </td>
        </tr>
    </table> <br>
    
    <div class="pagination">
        <span>
            page :
            {% if contacts.paginator.num_pages < 10 %}
                {% for page in contacts.paginator.page_range %}
                    {% if page != contacts.number %}
                        <a class="page" href="?page={{ page }}">{{ page }}</a>
                    {% else %}
                        {{ page }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </span>
    </div>
    
    {% endif %}
    
    {% if messages %}
        <ul style="color:red;">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </ul>
    {% endif %}
    
    <a class="button" href={% url 'accounts:index' %}>BACK</a>
    <form action={% url 'accounts:add_list' account.id %} method="post">    
        {% csrf_token %}
        <input type="submit" class="submit1" value="add">
        <div class="inputform" >
        <span>
        <input type="datetime" id="datepicker" size="4" value={% now "SHORT_DATE_FORMAT" %} name="date">
        <input type="text" name="description" placeholder="Description">
        </span><br><span>
        <input type="radio" name="type" value="I"> Income    </option>
        <input type="radio" name="type" value="E"> Expenses  </option>
        <input class="money" type="number" size=10 step="any" placeholder="money(THB)" name="value"></span>
        </div>
    </form>
    </div>
</div>
</body>
</html>