<head><title> Accounts </title></head>
<style>
    table, th, td {
        border : 1px solid black;
        border-collapse : collapse;
        padding : 5px;
        text-align : left;
    }
    table th {
        background-color : #000000;
        color : #ffffff;
        text-align : center;
    }
    tr:hover{background-color:#a0a0a0}
</style>
<body>
<div    align="center" 
        style=" width:400px;
                margin:auto;">

    <h1>Account Lists</h1>
    {% if account_list %}
    <table>
        <tr>
            <th width="300">List </th>
            <th> Date Created </th>
        </tr>
        {% for account in account_list %}
        <tr onclick="location.href='{% url 'accounts:detail' account.id %}'"
            styte="cursor: pointer">
            <td>{{ account.name }}</td>
            <td text-align="right">{{ account.create|date:"d/m/Y" }}</td>
        </tr>
        {% endfor %}
    </table><br>
    <div align="right">Create your account</div>
    {% endif %}
</div>
</body>
