{% load static %}
{% static "" as path %}
<link rel="stylesheet" type="text/css" href='{{path}}/{{skin}}/style.css'/>
<head><title> Accounts </title></head>
<body>
<div class="main" align="center"> 
    <ul class="navibar">
        <li class="navibar"><a href= {% url 'home' %}?skin={{skin}}> home </a></li>
        <li class="navibar"><a href= "https://a5810130.blogspot.com/">
        Blog</a><li>
        <li class="navibar"><a href= "https://github.com/a5810130/accounts">
        GitHub</a><li>
        <li class="skin" style="background-color: blue;"><a href= "?skin=default"> </a></li>
        <li class="skin" style="background-color: white;"><a href= "?skin=white"> </a></li>
        <li class="skin"> skin </li>
    </ul>
    <div class="detail">
    <h1>Account Lists</h1>
    {% if account_list %}
    <table class="table1" width="100%">
        <tr>
            <th width="70%"> Name </th>
            <th> Date Created </th>
            <th> CSV File </th>
        </tr>
        {% for account in account_list %}
        <tr onclick="location.href='{% url 'accounts:detail' account.id %}?skin={{skin}}'"
            styte="cursor: pointer">
            <td> &nbsp;{{ account.name }}</td>
            <td style="text-align:center;">{{ account.create|date:"d/m/Y" }}</td>
            <td> <a class="Dbutton" href={% url 'accounts:download_css' account.id %}>Download<a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <h2>Create your account</h2>
    <div align="left"> 
    {% if messages %}
    <p class="messages" style="color:red;">
        {% for message in messages %}
        {{message}}
        {% endfor %}
    {% endif %}
    </p>
    <form action={% url 'accounts:add_account' %}?skin={{skin}} method="post">  
    {% csrf_token %}
        Account Name: <input type="text" name="account_name" >
        <input type = "submit" class="submit0" value = "Create">
    </form>
    </div>
    </div>
</div>
</body>
