body {
    background : #aed6f1 url("wallpaper01.jpg") center top;
    opacity : 1;
}

ul.navibar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 600px;
}

.inputform{
    position: relative;
    float : right;
}
.button {
    position: relative;
    text-decoration: none;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 14px 16px;
}

a:hover.button {
    background-color: #444444;
}

a.page {
    text-decoration: none;
    color : #333333;
    
}
ul.navibar li{
    float: left;
}

ul.navibar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navibar li a:hover{
    background-color: #a0a0a0;
}

div.main {
    width:600px;
    margin:auto;
    background-color:#7fb3d5;
}
div.detail{
    padding: 20px;
}
table, th, td {
    border : 1px solid black;
    border-collapse : collapse;
    padding : 5px;
    text-align : left;
}

table th {

    background-color : #000000;
    color : #ffffff;
    text-align : center;
}
tr:hover{
    background-color:gray;
    color:#FFFFFF
}

a {
    
}